body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

.page{
  width: 210mm;
  min-height: 297mm;
  padding: 20mm;
  margin: 20px auto;
  background: white;
  border: 5px solid black;
}

.top-line {
  width: 80%;
  height: 2px;
  background: black;
  margin-bottom: 10px;
}

.job {
  color: green;
  font-size: 20px;
}

h3 {
  margin-bottom: 0;
  margin-top: 0;
}